* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: #f5f5f5;
}

#root {
  width: 100%;
}

.ant-layout {
  background: #fff;
}

.ant-layout-content {
  min-height: calc(100vh - 64px - 200px);
}
